@import "src/assets/styles/colors.scss";

.wrapper {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  text-align: center;

  .content-search {
    padding: 15px;
    z-index: 2;
    text-align: center;

    .card {
      display: flex;
      flex-direction: column;
      min-width: 0;
      background-clip: border-box;
      border: 0 solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
    }

    .btn-search {
      margin: 20px;
    }
  }

}